@font-face { 
  font-family: 'Navigo';
  src: url('../fonts/Navigo-Regular-Desktop.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

.dark-bg {
  background-color: #102D69;
  color: #fff;
}

.light-bg {
  background-color: #fff;
  color: #000;
}

.font-color-blue {
  color: #102D69;
}

.btn-blue {
  font-size: 1.15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #102D69;
  border-color: #102D69;
}

.promo-text {
  font-size: 24px;
  opacity: .75;
  font-family: 'Roboto', sans-serif;
}

.link-border-bottom {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  line-height: 1.3;
  border-bottom: 1px solid #6c757d;
  transition: .4s ease;
}

.text-white.link-border-bottom {
  border-bottom: 1px solid #fff;
}

.link-border-bottom:hover {
  border-color: transparent;
}

.link {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  transition: .4s ease;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.link:hover {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  border-color: transparent;
}

.text-yellow {
  color: #DCFF05 !important;
}

.story p {
  font-size: 24px;
  line-height: 35px;
}

.story-link {
  color: #102D69;
  text-decoration: none;
  transition: .4s ease;
  border-bottom: 2px solid #102D69;
}

.story-link:hover {
  color: #102D69;
  text-decoration: none;
  border-color: transparent;
}

.greeting-text {
  color: #DFC7F2;
  font-family: 'Navigo', sans-serif;
  font-weight: normal;
}

.text-blue {
  color: #DFC7F2 !important;
}

h1.greeting-text {
  color: #DFC7F2;
}

.btn-yellow {
  background-color: #DCFF05;
  color: #102D69;
}

.btn-yellow:hover {
  background-color: #c4e004;
  color: #102D69;
}

.navigo-font {
  font-family: 'Navigo', sans-serif;
  font-weight: normal;
}

.text-purple {
  color: #DFC7F2 !important;
}

.text-white-40 {
  color: #fff;
  opacity: 0.4;
}

.position {
  margin-left: 20px;
}

/* Стили для секции "Опыт работы" */
.projects {
  background-color: #fff; /* фон для светлой темы */
  color: #000; /* текст черный для светлой темы */
}

.dark-bg .projects {
  background-color: #102D69; /* темный фон для темной темы */
  color: #fff; /* белый текст для темной темы */
}

.dark-bg .projects .work-experience .text-white-40 {
  color: #ffffff; /* синий цвет текста для темной темы */
  opacity: 1; /* убираем прозрачность для темной темы */
}

.light-bg .projects .work-experience .text-white-40 {
  color: #000; /* черный текст для светлой темы */
  opacity: 1; /* убираем прозрачность для светлой темы */
}

.projects .work-experience .text-white-40 {
  transition: color 0.3s ease, opacity 0.3s ease;
}

/* Стили для заголовков и текста внутри блока */
.dark-bg .projects h3,
.dark-bg .projects p {
  color: #fff; /* белый цвет текста для темной темы */
}

.light-bg .projects h3,
.light-bg .projects p {
  color: #000; /* черный цвет текста для светлой темы */
}


/* Стили для логотипа */
.logo-title {
  font-size: 20px;
  line-height: 1.5;
}

.logo-subtitle {
  font-size: 17px;
  line-height: 1;
}

/* Для темной темы */
.dark-bg .logo-title {
  color: #ffffff; /* Цвет текста для темной темы (пурпурный) */
}

.dark-bg .logo-subtitle {
  color: #f3f3f3; /* Цвет подзаголовка для темной темы (желтый) */
}

/* Для светлой темы */
.light-bg .logo-title {
  color: #000; /* Черный цвет текста для светлой темы */
}

.light-bg .logo-subtitle {
  color: hsl(0, 0%, 0%); /* Желтый цвет подзаголовка для светлой темы */
}
